<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GyldendalDK" value="https://gyldendalnugetserver.azurewebsites.net/nuget" />
  </packageSources>
   <packageSourceCredentials>
    <GyldendalDK>
      <add key="Username" value="Gyldendal" />
      <add key="ClearTextPassword" value="BooksFTW" />
    </GyldendalDK>
  </packageSourceCredentials>
</configuration>